# 把第一個CSV讀入

In [52]:
import pandas as pd

df110 = pd.read_csv('高等教育深耕計畫核定經費110年 .csv')

# 區分110年一般大學和技術學院的總經費

In [4]:
new = temp.groupby(['類別'])['核定經費(單位：元)'].sum().reset_index()

In [5]:
new['year'] = 110
new

     類別   核定經費(單位：元)  year
0  一般大學  12207729347   110
1  技專校院   5063037696   110

# 讀取107~109核定經費資料

In [6]:
df107 = pd.read_csv('高等教育深耕計畫核定經費107年.csv')
df108 = pd.read_csv('高等教育深耕計畫核定經費108年.csv')
df109 = pd.read_csv('高等教育深耕計畫核定經費109年.csv')

# 區分107~109年一般大學和技術學院的總經費

In [7]:
new1 = df107[['類別', '核定經費(單位：元)']].groupby(['類別'])['核定經費(單位：元)'].sum().reset_index()
new1['year'] = 107
new1

     類別   核定經費(單位：元)  year
0  一般大學  10689720000   107
1  技專校院   4649944895   107

In [8]:
new2 = df108[['類別', '核定經費(單位：元)']].groupby(['類別'])['核定經費(單位：元)'].sum().reset_index()
new2['year'] = 108
new2

     類別   核定經費(單位：元)  year
0  一般大學  11782638025   108
1  技專校院   4722227968   108

In [9]:
new3 = df109[['類別', '核定經費(單位：元)']].groupby(['類別'])['核定經費(單位：元)'].sum().reset_index()
new3['year'] = 109
new3

     類別   核定經費(單位：元)  year
0  一般大學  12323060185   109
1  技專校院   5105867254   109

In [50]:
frames = [new, new1, new2, new3]

result = pd.concat(frames)

result

     類別   核定經費(單位：元)  year
0  一般大學  12207729347   110
1  技專校院   5063037696   110
0  一般大學  10689720000   107
1  技專校院   4649944895   107
0  一般大學  11782638025   108
1  技專校院   4722227968   108
0  一般大學  12323060185   109
1  技專校院   5105867254   109

In [51]:
temp110 = df110[['類別', '學校名稱', '核定經費(單位：元)']]
temp109 = df109[['類別', '學校名稱', '核定經費(單位：元)']]
temp108 = df108[['類別', '學校名稱', '核定經費(單位：元)']]
temp107 = df107[['類別', '學校名稱', '核定經費(單位：元)']]

# 將四年的各校經費合成一個表並相加

In [16]:
school = [temp110, temp109, temp108, temp107]

result1 = pd.concat(school)

result1

       類別        學校名稱  核定經費(單位：元)
0    一般大學      國立政治大學   321647507
1    一般大學      國立清華大學  1212025181
2    一般大學      國立臺灣大學  2326731025
3    一般大學    國立臺灣師範大學   227345240
4    一般大學      國立成功大學  1412842075
..    ...         ...         ...
153  技專校院  高美醫護管理專科學校           0
154  技專校院  育英醫護管理專科學校    10690000
155  技專校院  崇仁醫護管理專科學校    11320000
156  技專校院  聖母醫護管理專科學校     8197342
157  技專校院  新生醫護管理專科學校    20088500

[615 rows x 3 columns]

In [37]:
school = result1[['類別', '學校名稱', '核定經費(單位：元)']].groupby(['類別', '學校名稱'])['核定經費(單位：元)'].sum().reset_index()
school

       類別        學校名稱  核定經費(單位：元)
0    一般大學     一貫道天皇學院    14391000
1    一般大學        世新大學   244019801
2    一般大學    中信金融管理學院    62233063
3    一般大學        中原大學   566128253
4    一般大學      中國文化大學   278397368
..    ...         ...         ...
155  技專校院  馬偕醫護管理專科學校    79890000
156  技專校院  高美醫護管理專科學校           0
157  技專校院      高苑科技大學    94326823
158  技專校院      黎明技術學院    68546073
159  技專校院      龍華科技大學   467826224

[160 rows x 3 columns]

In [28]:
kind = result1[['類別', '學校名稱', '核定經費(單位：元)']].groupby(['類別'])['核定經費(單位：元)'].sum().reset_index()
kind

     類別   核定經費(單位：元)
0  一般大學  47003147557
1  技專校院  19541077813

# HW1

# 107~110個年平均核定經費

In [80]:
money_107 = df107['核定經費(單位：元)']
avg_money_107 = money_107[0].mean()
print(f"107平均核定經費{avg_money_107:,}元")

107平均核定經費285,790,000.0元

In [81]:
money_108 = df108['核定經費(單位：元)']
avg_money_108 = money_108[0].mean()
print(f"108平均核定經費{avg_money_108:,}元")

108平均核定經費337,004,700.0元

In [82]:
money_109 = df109['核定經費(單位：元)']
avg_money_109 = money_109[0].mean()
print(f"109平均核定經費{avg_money_109:,}元")

109平均核定經費329,930,867.0元

In [83]:
money_110 = df110['核定經費(單位：元)']
avg_money_110 = money_110[0].mean()
print(f"110平均核定經費{avg_money_110:,}元")

110平均核定經費321,647,507.0元

# 四年的平均經費

In [84]:
avg_money = (avg_money_110 + avg_money_109 + avg_money_108 + avg_money_107) / 4
print(f"四年平均核定經費{avg_money:,}元")

四年平均核定經費318,593,268.5元

# 四年來核定最多經費的學校

In [86]:
max_label = school['核定經費(單位：元)'].idxmax()

most_funded_school = school.loc[max_label, '學校名稱']
most_funded = school.loc[max_label, '核定經費(單位：元)']

print(f"核定最多經費的學校是{most_funded_school}。")
print(f"核定的總經費為{most_funded:,}元")

核定最多經費的學校是國立臺灣大學。
核定的總經費為8,753,601,336元

# 一般大學核定經費佔全部的百分比

In [87]:
total_funding = kind['核定經費(單位：元)'].sum()


general_univ_funding = kind[kind['類別'] == '一般大學']['核定經費(單位：元)'].sum()


general_univ_percent = general_univ_funding / total_funding * 100


print(f"一般大學佔全部核定經費的百分比為：{general_univ_percent:.2f}%。")

一般大學佔全部核定經費的百分比為：70.63%。

# 技專校院核定經費佔全部的百分比

In [88]:
total_funding = kind['核定經費(單位：元)'].sum()


general_univ_funding = kind[kind['類別'] == '技專校院']['核定經費(單位：元)'].sum()


general_univ_percent = general_univ_funding / total_funding * 100

print(f"一般大學佔全部核定經費的百分比為：{general_univ_percent:.2f}%。")

一般大學佔全部核定經費的百分比為：29.37%。

# 一般大學中核定經費超過四年平均的學校

In [89]:
result_over = school[(school['類別'] == '一般大學') & (school['核定經費(單位：元)'] > 321647507.0)]

print(result_over)

      類別      學校名稱  核定經費(單位：元)  is_national
3   一般大學      中原大學   566128253        False
5   一般大學    中國醫藥大學   796775969        False
10  一般大學      元智大學   379034709        False
13  一般大學    國立中央大學  1680194517         True
14  一般大學    國立中山大學  1198557694         True
15  一般大學    國立中正大學   639903242         True
16  一般大學    國立中興大學  1625272828         True
17  一般大學    國立交通大學  4149500328         True
22  一般大學    國立成功大學  5275852760         True
23  一般大學    國立政治大學  1274373074         True
26  一般大學    國立清華大學  4583361981         True
29  一般大學    國立臺北大學   331300045         True
35  一般大學    國立臺灣大學  8753601336         True
36  一般大學  國立臺灣師範大學   890344664         True
37  一般大學  國立臺灣海洋大學   558711670         True
41  一般大學    國立陽明大學  1369682436         True
51  一般大學      東吳大學   368307143        False
52  一般大學      東海大學   483051852        False
54  一般大學      淡江大學   361051434        False
58  一般大學      義守大學   327832651        False
60  一般大學    臺北醫學大學  1073771053        False
62  一般大學      輔仁大學   353257047        False
63  一般大學      逢甲大學   587330551        False
65  一般大學      長庚大學   661368507        False
68  一般大學      靜宜大學   363580532        False
70  一般大學    高雄醫學大學   492047407        False

# 判斷是否為國立大學或是私立大學

In [90]:
school['is_national'] = school['學校名稱'].apply(lambda x: True if '國立' in x else False)

national_universities_judge = school[school['is_national'] == True]

national_universities = national_universities_judge[['類別', '學校名稱', '核定經費(單位：元)']]

print(national_universities)

       類別        學校名稱  核定經費(單位：元)
13   一般大學      國立中央大學  1680194517
14   一般大學      國立中山大學  1198557694
15   一般大學      國立中正大學   639903242
16   一般大學      國立中興大學  1625272828
17   一般大學      國立交通大學  4149500328
18   一般大學      國立嘉義大學   243223271
19   一般大學      國立宜蘭大學   241284960
20   一般大學      國立屏東大學   267198963
21   一般大學    國立彰化師範大學   267992374
22   一般大學      國立成功大學  5275852760
23   一般大學      國立政治大學  1274373074
24   一般大學    國立暨南國際大學   301829579
25   一般大學      國立東華大學   243857359
26   一般大學      國立清華大學  4583361981
27   一般大學      國立聯合大學   182938483
28   一般大學    國立臺中教育大學   205196758
29   一般大學      國立臺北大學   331300045
30   一般大學    國立臺北教育大學   212759309
31   一般大學    國立臺北藝術大學   206694381
32   一般大學      國立臺南大學   196572939
33   一般大學    國立臺南藝術大學    68497203
34   一般大學      國立臺東大學   227078828
35   一般大學      國立臺灣大學  8753601336
36   一般大學    國立臺灣師範大學   890344664
37   一般大學    國立臺灣海洋大學   558711670
38   一般大學    國立臺灣藝術大學   182472109
39   一般大學  國立臺灣體育運動大學   124841361
40   一般大學      國立金門大學   134561052
41   一般大學      國立陽明大學  1369682436
42   一般大學      國立體育大學   176295050
43   一般大學      國立高雄大學   201286703
44   一般大學    國立高雄師範大學   170518983
92   技專校院    國立勤益科技大學   582375371
93   技專校院    國立屏東科技大學   657204305
94   技專校院    國立澎湖科技大學   109995988
95   技專校院    國立臺中科技大學   122008361
96   技專校院    國立臺北商業大學   232477903
97   技專校院    國立臺北科技大學  1116716101
98   技專校院  國立臺北護理健康大學   304810991
99   技專校院  國立臺南護理專科學校    88904294
100  技專校院    國立臺東專科學校   145978825
101  技專校院    國立臺灣戲曲學院    69541609
102  技專校院    國立臺灣科技大學  1275575036
103  技專校院    國立虎尾科技大學   947297487
104  技專校院    國立雲林科技大學   871855828
105  技專校院  國立高雄應用科技大學   143890341
106  技專校院  國立高雄海洋科技大學    54220100
107  技專校院    國立高雄科技大學  1185199835
108  技專校院  國立高雄第一科技大學   201230000
109  技專校院    國立高雄餐旅大學   347286446

In [91]:
not_national_universities_judge = school[school['is_national'] == False]

not_national_universities = not_national_universities_judge[['類別', '學校名稱', '核定經費(單位：元)']]

print(not_national_universities)

       類別        學校名稱  核定經費(單位：元)
0    一般大學     一貫道天皇學院    14391000
1    一般大學        世新大學   244019801
2    一般大學    中信金融管理學院    62233063
3    一般大學        中原大學   566128253
4    一般大學      中國文化大學   278397368
..    ...         ...         ...
155  技專校院  馬偕醫護管理專科學校    79890000
156  技專校院  高美醫護管理專科學校           0
157  技專校院      高苑科技大學    94326823
158  技專校院      黎明技術學院    68546073
159  技專校院      龍華科技大學   467826224

[110 rows x 3 columns]

# 國立私立總核定經費分別為多少又相差多少

In [104]:
total_price_national = national_universities['核定經費(單位：元)'].sum()

print(f"國立大學總共核定經費為{total_price_national:,}元")

total_price_not_national = not_national_universities['核定經費(單位：元)'].sum()

print(f"私立大學總共核定經費為{total_price_not_national:,}元")
print("")
print(f"國立大學比私立大學多{total_price_national - total_price_not_national:,}元")

國立大學總共核定經費為44,642,325,061元
私立大學總共核定經費為21,901,900,309元

國立大學比私立大學多22,740,424,752元

# 國立私立大學各有幾間又相差幾間

In [105]:
national_counts = national_universities.shape
not_national_counts = not_national_universities.shape

print(f"國立大學有{national_counts[0]}間")
print(f"私立大學有{not_national_counts[0]}間")
print("")
print(f"國立大學比私立大學少{not_national_counts[0] - national_counts[0]}間")

國立大學有50間
私立大學有110間

國立大學比私立大學少60間